@tailwind base;
@tailwind components;
@tailwind utilities;

.container{
    --bs-gutter-x:1.5rem;
    --bs-gutter-y:0;
    width:100%;
    padding-right:calc(var(--bs-gutter-x) * .5);
    padding-left:calc(var(--bs-gutter-x) * .5);
    margin-right:auto;
    margin-left:auto;
}

.event-content img{
    display: inline;
}
